
/** *********************************************************
*                            Homepage                       *
************************************************************/
.homepage-container{
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(to right, rgba(74, 71, 71, 0.253) 0%, rgba(27, 14, 14, 0.793) 100%), url("../images/Alma.png");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    & .header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 1% 10% 0;
        & .view-more a{
            color: $whiteText;
            display: flex;
            justify-content: end;
        }
        & .logo-area{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            & .logo{
                height: 100px;
                width: 150px;
                & .logo-img{
                    height: 100%;
                    width: 100%;
                }
            }
            & .book-btn{
                display: flex;
                align-items: center;
                justify-content: end;
                gap: 5px;
                flex-wrap: wrap;
            }
        }
    }
    & .middle-page{
        position: absolute;
        
        padding:0 2em;
        top: 30%;
        bottom: 70%;
        width: 100%;
        & .middle-txt{
            color: $whiteText;
            font-size: 6vmin;
        }
        & .middle-button{
            margin-top: 2em;
            display: flex;
            flex-wrap: wrap;
            gap: 1.5em;
        }
    }
    & .homepage-footer{
        position: absolute;
        bottom: 0;
        display: flex;
        flex-direction: row;
        margin: 0;
        padding: 2% 15%;
        justify-content: space-between;
        align-items: center;
        color: $whiteText;
        height: 20vh;
        width: 100%;
        background-color: $backgroundBlack;
        & .left-content{
            font-size: 3vmin;
        }
        & .right-content{
            display: flex;
            flex-direction: column;
            justify-content: center;
            & .text1{
                display: flex;
                justify-content: center;
                font-size: 8vmin;
                color: $whiteText;
            }
            & .text2{
                display: flex;
                justify-content: center;
                font-size: 3vmin;
                color: $whiteText;
            }
            & .text3{
                display: flex;
                justify-content: center;
                white-space: nowrap;
                font-size: 2vmin;
                color: $whiteText;
            }
        }
    }
}

@media screen and (min-width: 900px) {
    .homepage-container{
        & .middle-page{
            margin-left: 10%;
            width: 60%;
        }
    }
}


/************************************************************
*                            About the Alma                 *
************************************************************/
.about-container{
    display: flex;
    flex-direction: column;
    & .title-row{
        display: flex;
        justify-content: center;
        height: 15vmin;
        align-items: center;
        margin-top: 6vmin;
    }
    & .about-paragraph{
        text-align: center;
        padding: 0 1em;
    }
}

@media screen and (min-width: 900px) {
    .about-container{
        & .about-paragraph{
            padding: 0 20% 2%;
        }
    }
}

/************************************************************
*                            Key Amenities                  *
************************************************************/
.amenities-container{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;

    & .title-row{
        display: flex;
        justify-content: center;
        height: 30vmin;
        align-items: center;
    }
    & .floating-row{
        height: 1vmin;
        display: flex;
        justify-content: center;
        align-items: center;
        & .floating-row-tabs{
            position: absolute;
            background-color: white;
            padding: 0;
            display: flex;
            gap: 0.5em;
            flex-wrap: wrap;
            flex-shrink: 2;
            
            & .tablink {
                background-color: white;
                border: none;
                border-top: 1.5px solid #e2dfdfaa;
                color: #121212;
                font-size: 2vmin;
                white-space: nowrap;
                float: left;
                outline: none;
                cursor: pointer;
                padding: 1em 2em 2em;
                width: fit-content;
            }
            
            & .active, .tablink:hover {
                background-color: rgba(74, 73, 73, 0.821);
                color: #f7f7f7;
            }
                    
            /* Style the tab content (and add height:100% for full page content) */
            & .tabcontent {
                color: white;
                display: flex;
                width: 100%;
                height: 100%;
            }
        }
    }
    

    & .sliding-section{
        height: 50vmin;
    }
}
#first {
    @include tab-change(url("../images/Alma2.jpg"));
}
  
#second {
    @include tab-change(url("../images/Alma.png"));
}
  
#third {
    @include tab-change(url("../images/Alma2.jpg"));
}
  
#fourth {
    @include tab-change(url("../images/Alma.png"));
}
  
#fifth {
    @include tab-change(url("../images/Alma2.jpg"));
}