// ------------------- Color and font settings ----------//
$myFont: 'Quicksand', sans-serif;
$blackText: #494a4a;
$whiteText: rgb(238, 233, 233);
$blackTitleText: #494a4ae7;
$blackStrongText: #000000bf;
$myFontSize: 16px;
$backgroundBlack: #121212;
$backgroundWhite: #f7f7f7;